//---------------------------------------------------
// ##Settings
// --------------------------------------------------
@import "settings/variables";
@import "settings/functions";
@import "settings/mixins";





//---------------------------------------------------
// ##Core
// --------------------------------------------------
@import "core/reset";
@import "core/base";





//---------------------------------------------------
// ##Plugins
// --------------------------------------------------
@import "../../bower_components/susy/sass/_susy.scss";





//---------------------------------------------------
// ##Setup
// --------------------------------------------------
$susy: ( columns: 12, gutters: .25, container: 180rem, );





//---------------------------------------------------
// ##Fonts
// --------------------------------------------------

@include font-face(Adelle-Bold, '../fonts/AdelleSans-Bold');
@include font-face(Adelle-Regular, '../fonts/AdelleSans-Regular');
@include font-face(Adelle-Light, '../fonts/AdelleSans-Light');




//---------------------------------------------------
// ##Style
// --------------------------------------------------

// ##General

body {
  font-family: 'Adelle-Regular', Helvetica, Arial, sans-serif;
}

.container {
  @include container;
  padding: 0 6rem;
}





// ##Header

.primarynav {
  padding-top: 4rem;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 100;
  
  &__title {
    @include fontsize-s;
    float: left;
  }

  &__linklist {
    @include fontsize-s;
    float: right;
    list-style-type: none;
    padding: 0;
  }

  &__linklist-item {
    display: inline-block;
    margin-left: 2.4rem;
    padding: 0;
  }

  &__link {
    color: inherit;
  }
}





// ##Footer

.footer {
  background-color: $color-dark;
  height: 46rem;
  padding-top: 6rem;

  &__arrow {
    float: left;
    width: 2.2rem;

    &:hover {
        margin-top: -.2rem;
    }
  }

  &__contactlist {
    @include span(4 of 12);
    @include omega;
    @include fontsize-s;
  }

  &__contactlist-item {
    @include span(2 of 4);
    margin-bottom: 4rem;
    li {
        margin-bottom: .5rem;
    }
    &:nth-child(even) {
        @include omega;
    }
  }

  &__contactlist-title {
    color: grey;
    font-family: 'Adelle-Bold', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-bottom: 1rem;
  }

  &__contactlist-link {
    color: white;
  }

  // Link with map icon
  &__contactlist-link--mapicon {
    background-image: url('../images/icon_map-pin.svg');
    background-repeat: no-repeat;
    background-position: 0 .02rem;
    background-size: 1.3rem;
    padding: 0 0 0 2rem;     
  }
}





// ##Index : Featured Projects

.featured-project {
  background-image: url('../images/featured-projects/featured-project_abbey.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  @include maintain-ratio(16 9);
  position: relative;

  &__details {
    max-width: 70rem;
    bottom: 10rem;
    position: absolute;
  }

  &__client {
    @include fontsize-s;
    margin-bottom: 3rem;
  }

  &__title {
    @include fontsize-xl;
    font-family: 'Adelle-Light', Helvetica, Arial, sans-serif;
  }

}





// ## Index: Introduction

.home-intro {
  max-width: 110rem;
  margin: 24rem auto;
  @include fontsize-l;
  font-family: 'Adelle-Light', Helvetica, Arial, sans-serif;
}





// ## Index: Project Grid

.project-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10rem;
}

.project-preview {
  margin: .5rem;
  height: calc(100vw/3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  // Alternate widths of the units  
  &:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8)  {
    flex: 0 1 unquote("calc(66.6% - 1rem)");
    background-image: url('../images/project-grid/project-grid_think.jpg');
  }

  &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7) {
    flex: 0 1 unquote("calc(33.3% - 1rem)");
    background-image: url('../images/project-grid/project-grid_think.jpg');
  }
    
  // Set background images  
  &:nth-child(1) {
    background-image: url('../images/project-grid/project-grid_think.jpg');
  }

  &:nth-child(2) {
    background-image: url('../images/project-grid/project-grid_dmm.gif');
  }
  &:nth-child(4) {
    background-image: url('../images/project-grid/project-grid_2016.jpg');
  }
    
  // Project Details  
  &__details {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    color: white;
    padding: 3rem;
    position: relative;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
  }

  &__client {
    @include fontsize-s;
    margin-bottom: 6rem;
  }

  &__title {
    @include fontsize-xl;
    font-family: 'Adelle-Light', Helvetica, Arial, sans-serif;
    max-width: 50rem;
  }

  &__taglist {
    @include fontsize-scaps;
    position: absolute;
    list-style-type: none;
    bottom: 3rem;
    opacity: .7;
  }

  &__tag {
    display: inline-block;
  }


}



















