//---------------------------------------------------
// ##Settings
// --------------------------------------------------
@import "settings/variables";
@import "settings/functions";
@import "settings/mixins";


//---------------------------------------------------
// ##Core
// --------------------------------------------------
@import "core/reset";
@import "core/base";


//---------------------------------------------------
// ##Plugins
// --------------------------------------------------
@import "../../bower_components/susy/sass/_susy.scss";
//@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss.scss";
//@import "../../bower_components/sassy-maps/sass/_sassy-maps.scss";


//---------------------------------------------------
// ##General Styles : Fonts, Grid, Nav, Footer, etc
// --------------------------------------------------
@import "views/general";


//---------------------------------------------------
// ##Index
// --------------------------------------------------
@import "views/index";


//---------------------------------------------------
// ##Project Page
// --------------------------------------------------

@import "views/project";


//---------------------------------------------------
// ##Project List Page
// --------------------------------------------------

.projectlist {
  margin-top: $vert-m;

  &__title {
    @include fontsize-xl;
    color: $color-dark;
    margin-bottom: $vert-xs;
  };
    
  //We're using the style from the index project preview section, and overriding where necessary
  .project-preview {
    flex: 0 1 unquote("calc(33.3% - 1rem)") !important;
    height: calc(100vw/6) !important;
    
    
    &__client {
      @include fontsize-m;
      margin-bottom: $vert-xxs;
      line-height: 3.2rem !important;
    }

    &__title {
      @include fontsize-m;
      max-width: 50rem;
      opacity: 0.5 !important;
      line-height: 3.2rem !important;

    }
  }

};

