footer.footer
  .container
    .footer__arrow#footer__arrow

    //Contact List
    ul.footer__contactlist

      li.footer__contactlist-item
        h5.footer__contactlist-title Call
        a.footer__contactlist-link(href='tel:+35318747299') +353 1 874 7299

      li.footer__contactlist-item
        h5.footer__contactlist-title Email
        a.footer__contactlist-link(href='mailto:hi@zero-g.ie') hi@zero-g.ie

      li.footer__contactlist-item
        h5.footer__contactlist-title Follow
        ul
          li
            a.footer__contactlist-link(href='https://twitter.com/zerogstudio' target='blank') Twitter
          li 
            a.footer__contactlist-link(href='https://www.instagram.com/zerogstudio/' target='blank') Instagram
          li 
            a.footer__contactlist-link(href='https://www.linkedin.com/company/1850487' target='blank') Linkedin

      li.footer__contactlist-item
        h5.footer__contactlist-title Location
        ul
          li
            a.footer__contactlist-link(href='#') 135 Capel Street,<br>Dublin 1, Ireland
          li
            a(href='https://goo.gl/maps/quHvxKoxRmF2' target='_blank').footer__contactlist-link.footer__contactlist-link--mapicon Google Maps