footer.footer
  div.container
    object.footer__arrow(
      type="image/svg+xml"
      data="/images/arrow.svg"
    )

    //Contact List
    ul.footer__contactlist

      li.footer__contactlist-item
        h5.footer__contactlist-title Call
        a.footer__contactlist-link(href='tel:+35318747299') +353 1 874 7299

      li.footer__contactlist-item
        h5.footer__contactlist-title Email
        a.footer__contactlist-link(href='mailto:hi@zero-g.ie') hi@zero-g.ie

      li.footer__contactlist-item
        h5.footer__contactlist-title Follow
        ul
          li
            a.footer__contactlist-link(href='#') Twitter
          li 
            a.footer__contactlist-link(href='#') Instagram
          li 
            a.footer__contactlist-link(href='#') Linkedin

      li.footer__contactlist-item
        h5.footer__contactlist-title Location
        ul
          li
            a.footer__contactlist-link(href='#') 135 Capel Street,<br>Dublin 1, Ireland
          li
            a.footer__contactlist-link(href='#') Google Maps 