nav.primarynav
  .container
    .primarynav__title 
      a.primarynav__link(href='/index.html') Zero-G
    ul.primarynav__linklist
      li.primarynav__linklist-item 
        a.primarynav__link(href='/projectlist.html') Projects
      li.primarynav__linklist-item 
        a.primarynav__link(href='#') People
      li.primarynav__linklist-item 
        a.primarynav__link(href='#') Contact