nav.primarynav
  div.container
    h1.primarynav__title Zero-G
    ul.primarynav__linklist
      li.primarynav__linklist-item 
        a.primarynav__link(href='#') Project
      li.primarynav__linklist-item 
        a.primarynav__link(href='#') People
      li.primarynav__linklist-item 
        a.primarynav__link(href='#') Contact