extends ../extends/layout.pug
include ../mixins/sample

block variables
  - var title = "Zero-G | Brand Strategy and Design";
  - var description = "Zero-G is a brand strategy and design agency based in Dublin, Ireland";

block content
  div.featured-project
    div.container
      div.featured-project__details
        h2.featured-project__client Abbey Theatre
        h3.featured-project__title Rebranding Ireland's National Theatre

  div.container
    p.home-intro Zero-G is a brand strategy and design agency based in Dublin, Ireland. We partner with organisations and enterprises from around the world to help them change, connect, innovate and grow. 

  section.container.project-grid
    div.project-grid__project
      h2.project-grid__project-title Example Title
    div.project-grid__project
    div.project-grid__project
    div.project-grid__project
    div.project-grid__project
    div.project-grid__project
    div.project-grid__project
    div.project-grid__project    


  +sample("I'm a sample mixin with class modifier!")(class="c-sample--modifier")


