extends ../extends/layout.pug
include ../mixins/sample

block variables
  - var title = "Zero-G | Brand Strategy and Design";
  - var description = "Zero-G is a brand strategy and design agency based in Dublin, Ireland";

block content
  .featured-project
    .container
      a.featured-project__linkwrapper(href='#')
        .featured-project__details
          h2.featured-project__client Abbey Theatre
          h3.featured-project__title Rebranding Ireland's National Theatre
          .featured-project__cta View Project

  div.container
    p.home-intro Zero-G is a brand strategy and design agency based in Dublin, Ireland. We partner with organisations and enterprises from around the world to help them change, connect, innovate and grow. 

  section.container.project-grid
    .project-preview
      a.project-link(href='#')
        .project-preview__details
          h2.project-preview__client Think Healthcare
          h3.project-preview__title Transforming healthcare in America
          ul.project-preview__taglist
            li.project-preview__tag Strategy,
            li.project-preview__tag Brand Design,
            li.project-preview__tag User Experience

    .project-preview
    .project-preview
    .project-preview
    .project-preview
    .project-preview
    .project-preview
    .project-preview    

  +sample("I'm a sample mixin with class modifier!")(class="c-sample--modifier")



