extends ../extends/layout.pug
include ../mixins/mixins

block variables
  - var title = "Zero-G | Brand Strategy and Design";
  - var description = "Zero-G is a brand strategy and design agency based in Dublin, Ireland";

block content
  .projectlist.container
    section.project-grid
      +project-preview('Think Healthcare', 'Transforming healthcare in America', '/projects/think.html')
      +project-preview('Dublin Makes Me', 'South by Southwest by Dublin', '#')
      +project-preview('Think Healthcare', 'Transforming healthcare in America', '#')
      +project-preview('Ireland 2016', 'Remember. Reflect. Reimagine')
      +project-preview('Linesight', 'Building progress across the world', '#')
      +project-preview('Dublin Makes Me', 'South by Southwest by Dublin', '#')
      +project-preview('Think Healthcare', 'Transforming healthcare in America', '/projects/  think.html')
      +project-preview('Dublin Makes Me', 'South by Southwest by Dublin', '#')
      +project-preview('Think Healthcare', 'Transforming healthcare in America', '#')
      +project-preview('Ireland 2016', 'Remember. Reflect. Reimagine')
      +project-preview('Linesight', 'Building progress across the world', '#')
      +project-preview('Dublin Makes Me', 'South by Southwest by Dublin', '#')